<ion-content class="ion-padding" id="welcome">
  <img src="assets/img/logo.png" class="logo" style="width: 70%; height: auto; display: block; margin-left: auto; margin-top: 50px; margin-right: auto;"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 style=" font-family: roboto; font-size: 250%; text-align: center;">Yolla Yemek</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" routerLink="/login">Giriş</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="signup" expand="block" routerLink="/signup">Kayıt</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>